// .carousel-control-prev { 
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
//     max-width: 150px;
// }

.countdownContainer {
    height: 100vh !important;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

