@use '../../abstract/' as *;

// .carousel-control-prev { 
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
//
.countdownParent {
    background-color: $secondary;
}
.countdownContainer {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    font-weight: 300;
}   

.bx-chevron-left, .bx-chevron-right {
    font-size: 50px;
    color: rgb(26, 25, 25);
}

.floral1 {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}

.floral2 {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    transform: scaleX(-1);
}


.floral3 {
    position: absolute;
    z-index: 0;
    bottom: -20px;
    left: 0;
    transform: rotate(180deg);
}


.floral4 {
    position: absolute;
    z-index: 0;
    bottom: -20px;
    right: 0;
    transform: scaleY(-1);
}

@media screen and (max-width: 992px) {
    .floral1 {
        width: 200px;
    }
    .floral2 {
        width: 200px;
    }
}

@media screen and (max-width: 553px) {
    .floral1 {
        width: 150px;
    }
    .floral2 {
        width: 150px;
    }
}