@use '../abstract/' as *;

.pageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.textHeader {
    color: $secondary-text-color;
    z-index: 3 !important;
    font-size: 50px;
}

.dividingPattern {    
    z-index: 3 !important; 
    filter: invert(51%) sepia(34%) saturate(421%) hue-rotate(178deg) brightness(85%) contrast(84%);
}

@media screen and (max-width: 400px) {
    .dividingPattern {
        width: 250px !important;
    }
}   