@use "../abstract/" as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent !important;
  z-index: 99;
}

.navbarContainer {
  width: 100%;
}

.navbarContainer .navbar-nav a {
  margin: 25px 16px !important;
  z-index: 99;  
}

.navbarContainer .navbar-nav a:hover {
  color: $primary;
  border-bottom: 1px solid $primary;
}

.navbarContainer .navbar-nav .activeLink {
  color: $primary !important;
  border-bottom: 1px solid $primary !important;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: $text-color;
}

.navbar-nav a {
  color: $text-color;
  font-weight: 500;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.menuBar {
  color: $text-color;
  font-size: 30px;

  border: none !important;
}

@media screen and (max-width: 991px) {
  .navbar {
  padding : 0px 0px !important; 
}
}

@media screen and (max-width: 768px) {

  .navbar-nav {
    padding: 10px;
    color: black;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .navbarContainer .navbar-nav a {
  margin: 0px 0px !important;

}
}
