@use "../abstract/" as *;

.NavbarParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent !important;
  z-index: 99;
}

.navbar{
  /*   z-index should be above .close-navbar-toggler */
    z-index:2;
  }
  .close-navbar-toggler{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
  }
  .close-navbar-toggler.collapsed{
    z-index:-1;
  }

.NavbarParentScrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color !important;
  z-index: 99;
}

.navbarContainer {
  width: 100%;
}

.navbarContainer .navbar-nav a {
  margin: 15px 16px !important;
  z-index: 99;  
  
}

.navbarContainer .navbar-nav .navLink {
  z-index: 99;  
  color: $secondary-text-color !important;
}

.navbarContainer .navbar-nav a:hover {
  color: $primary;
  border-bottom: 1px solid $primary;
}

.navbarContainer .navbar-nav .navLink.activeLink {
  color: black !important;
  border-bottom: 1px solid black !important;
}


.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: $text-color;
}

.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:hover {
  color: $text-color;
}

.navbarContainer a.scrolledNavBrand {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: $secondary-text-color !important;
}
.navbar-nav a {
  color: $text-color;
  font-weight: 500;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.menuBar {
  color: $text-color;
  font-size: 30px;

  border: none !important;
}

.scrolledMenuBar {
  color: $secondary-text-color ;
  font-size: 30px;

  border: none !important;
}

@media screen and (max-width: 991px) {
  .navbar {
  padding : 0px 0px !important; 
}
}

@media screen and (max-width: 768px) {  

  .navbar-nav {
    padding: 10px;
    border-radius: 5px;
  }

  .navbar-nav.navbarNavScrolled {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  .navbarContainer .navbar-nav .navLink.activeLink {
    color: black !important;
    border-bottom: 1px solid black !important;
  }

  .navbarContainer .navbar-nav a {
  margin: 0px 0px !important;
}
}
