@use "../../abstract/" as *;

:root {
  --bg-color-primary: rgba(94, 41, 19, 0.3);
  --bg-color-secondary: rgba(94, 41, 19, 0.3);
}

.textCountdown {
  font-size: 30px;
  color: $secondary-text-color;
  background-color: $bg-color;
  border-radius: 10px;
}

.frontPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  height: 100vh;
  width: 100%;
}

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.titlePage {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.text-Container {
  position: relative;
  top: 35%;
  left: 0%;
}

.subTitlePage {
  width: auto;
  color: $text-color;
  font-weight: 300;
  transform: translate(-50%, -50%);
}

.titleHeader {
  font-size: 100px;
  color: $primary;
}
.andHeader {
  font-size: 70px;
  color: $primary;
}

.landingFlower {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 50%;    
  top: 25%;
  transform: translate(-50%, -50%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(285deg)
    brightness(109%) contrast(101%);
    z-index: 2;
}

.landingFlower2 {
  position: absolute;
  width: 400px;
  height: 350px;
  left: 50%;
  top:90%;
  transform: translate(-50%, -50%) rotate(180deg);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(285deg)
    brightness(109%) contrast(101%);
}

@media screen and (max-width: 992px) {

.landingFlower {
  top: 27%; 
  width: 250px;
  height: auto;
}

.landingFlower2 {
  top: 90%;
  width: 300px;
  height: auto;
}
.titleHeader {
  font-size: 70px;
}

  .navbar {
  padding : 0px 0px !important; 
}
}

@media screen and (max-width: 887px) {

  .landingFlower2{
    top:90%;
    width: 200px;
  } 
}


// @media screen and (max-height: 562px) and (max-width: 886px) {
//   .landingFlower2 {
//     top: 90%;
//     width: 200px;
//   }
// }